[submodule "eGreenBinWasteClassification"]
	path = eGreenBinWasteClassification
	url = https://github.com/GDSC-UIT/eGreenBinWasteClassification
[submodule "eGreenBinInteract"]
	path = eGreenBinInteract
	url = https://github.com/GDSC-UIT/eGreenBinInteract
[submodule "eGreenBinFace_Recognition_api"]
	path = eGreenBinFace_Recognition_api
	url = https://github.com/GDSC-UIT/eGreenBinFace_Recognition_api
[submodule "eGreenBin-mobile"]
	path = eGreenBin-mobile
	url = https://github.com/GDSC-UIT/eGreenBin-mobile.git
[submodule "eGreenBin-backend-api"]
	path = eGreenBin-backend-api
	url = https://github.com/GDSC-UIT/eGreenBin-backend-api.git
[submodule "eGreenBinIOT"]
	path = eGreenBinIOT
	url = https://github.com/GDSC-UIT/eGreenBinIOT.git
[submodule "eGreenBinAI_FaceRecognition"]
	path = eGreenBinAI_FaceRecognition
	url = https://github.com/GDSC-UIT/eGreenBinAI_FaceRecognition
[submodule "eGreenBinAI_WasteClassification"]
	path = eGreenBinAI_WasteClassification
	url = https://github.com/GDSC-UIT/eGreenBinAI_WasteClassification
[submodule "egreenbin-api"]
	path = egreenbin-api
	url = https://github.com/GDSC-UIT/egreenbin-api
[submodule "eGreenBinIoT"]
	path = eGreenBinIoT
	url = https://github.com/GDSC-UIT/eGreenBinIoT.git
